<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.opts.db.community.mapper.DynamicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yl.opts.db.community.entity.Dynamic">
        <id column="id" property="id" />
        <result column="merchant_id" property="merchantId" />
        <result column="merchant_name" property="merchantName" />
        <result column="title" property="title" />
        <result column="category_id" property="categoryId" />
        <result column="content" property="content" />
        <result column="type" property="type" />
        <result column="url" property="url" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="audit_time" property="auditTime" />
        <result column="is_delete" property="isDelete" />
        <result column="is_show" property="isShow" />
        <result column="vote_count" property="voteCount" />
        <result column="share_count" property="shareCount" />
        <result column="comment_count" property="commentCount" />
        <result column="valid_comment_count" property="validCommentCount" />
        <result column="real_vote_count" property="realVoteCount" />
        <result column="real_share_count" property="realShareCount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, merchant_id, merchant_name, title, category_id, content, type, url, create_time, update_time, audit_time, is_delete, is_show, vote_count, share_count, comment_count, valid_comment_count, real_vote_count, real_share_count
    </sql>

</mapper>
